body {
  margin: var(--size-48);
}

.color-swatch-list {
  display: flex;
  gap: var(--size-16);
  margin-block: var(--size-16);
}

.color-swatch {
  block-size: var(--size-48);
  inline-size: var(--size-48);
}

.typography-example {
  margin: var(--size-16);
}

.typography-example li {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--size-48);

  .font-description-label {
    align-self: start;
    background-color: var(--color-neutral-80);
    color: var(--color-neutral-inverted);
    display: inline-block;
    font-size: var(--typography-size-default);
    min-inline-size: 20rem;
    padding: var(--size-8);
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-16);

  .card {
    background-color: var(--color-neutral-invert);
    border: var(--border-primary-border);
    border-radius: var(--size-8);
    display: flex;
    flex: 1 1 clamp(18rem, 20vw, 25rem);
    flex-direction: column;
    gap: var(--size-16);
    justify-content: space-between;
    min-block-size: 20vh;
    padding: var(--size-16);
    inline-size: 100%;
  }

  .card-title {
    margin: 0;
    margin-block-end: var(--size-8);
  }

  .card-description {
    margin: 0;
  }
}

.page-footer {
  padding: var(--size-16) var(--size-48);
  text-align: center;
}
