@layer reset, utils, core, components;

@import "reset.css" layer(reset);

@import "utils.css" layer(utils);

@import "custom-properties.css" layer(core);
@import "button.css" layer(core);
@import "typography.css" layer(core);
@import "text.css" layer(core);
@import "forms.css" layer(core);
@import "table.css" layer(core);
@import "media.css" layer(core);

@import "fiori/custom-select.css" layer(components);

:root {
  --link-color: var(--color-link-color, mediumblue);
  --link-color-visited: var(--color-link-visited-color, darkmagenta);
  --link-focus-visible-box-shadow: 0 0 0 var(--size-2)
    var(--color-neutral-inverted);
  --link-focus-visible-outline: var(--size-2) solid var(--color-neutral-80);
  --link-focus-visible-outline-offset: var(--size-4);

  --table-border: var(--size-4) solid var(--color-neutral-80);
  --table-cell-border: var(--size-1) solid var(--color-neutral-80);
  --table-width: 100%;

  --table-caption-align: start;
  --table-caption-font: bold var(--typography-size-medium) /
    var(--typography-heading-line-height) var(--typography-heading-family);
  --table-caption-spacing-block-end: var(--size-12);

  --table-thead-background: var(--color-neutral-80);
  --table-thead-foreground: var(--color-neutral-10);
  --table-thead-align: start;

  --table-cell-spacing: var(--size-8);

  --table-tbody-background-odd: var(--color-neutral-10);
  --table-tbody-background-even: var(--color-neutral-inverted);

  --table-tfoot-background: var(--color-neutral-20);
  --table-tfoot-foreground: var(--color-neutral-80);
  --table-tfoot-spacing: var(--size-16) var(--table-cell-spacing);

  --figure-border: var(--size-4) solid var(--color-neutral-80);
  --figcaption-background-color: var(--color-neutral-20);
  --figcaption-overlap-background-color: var(
    --color-neutral-inverted-transparent-70
  );
  --figcaption-foreground-color: var(--color-neutral-80);
  --figcaption-overlap-foreground-color: var(--color-neutral-80);
  --figcaption-spacing: var(--size-8);
}
