.custom-select {
  align-items: center;
  background-color: var(--custom-select-surface-primary, #fff);
  border: var(--custom-select-border, 0.125rem solid #000);
  cursor: pointer;
  display: grid;
  font-size: var(--custom-select-font-size, 1rem);
  grid-template-areas: "select";
  inline-size: 100%;
  line-height: 1.1;
  margin-block-start: var(--custom-select-margin-block-start, 0);
  max-inline-size: var(--custom-select-max-inline-size, 30ch);
  min-inline-size: 15ch;
  padding-block: var(--custom-select-padding-block, 0.5rem);
  padding-inline: var(--custom-select-padding-block, 0.5rem);
}

.custom-select-full-width {
  max-inline-size: 100%;
}

.custom-select-input {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  inline-size: 100%;
  line-height: inherit;
  margin: 0;
  outline: none;
  overflow: auto;
  padding-block: 0;
  padding-inline: 0 var(--custom-select-icon-spacing, 1rem);
}

.custom-select-input[multiple] {
  padding-inline-end: 0;
}

.custom-select:not(.custom-select-multiple)::after {
  background-color: var(--custom-select-icon-color, #000);
  block-size: var(--custom-select-icon-block-size, 1rem);
  clip-path: var(
    --custom-select-icon-clip-path,
    polygon(0 64%, 50% 39%, 100% 64%, 100% 50%, 50% 25%, 0 50%)
  );
  content: "";
  inline-size: var(--custom-select-icon-inline-size, 0.65rem);
  justify-self: end;
  transform: var(--custom-select-icon-rotation, rotate(180deg));
}

.custom-select-input,
.custom-select-error,
.custom-select::after {
  grid-area: select;
}

.custom-select:focus-within {
  border: var(--custom-select-border-focus, 0.125rem solid #5dbb68);
}

.custom-select:has(.custom-select-input[disabled]) {
  background-color: var(--custom-select-disabled, #666);
  cursor: not-allowed;
}

.custom-select-error {
  display: none;
}

.custom-select:has(.custom-select-input[aria-invalid="true"]) {
  border-color: var(--custom-select-border-error, #db000e);
}

.custom-select:has(.custom-select-input[aria-invalid="true"])
  .custom-select-error {
  color: var(--custom-select-border-error, #db000e);
  display: block;
  justify-self: end;
  margin-inline-end: -2.5rem;
}
