figure {
  border: var(--minimalist-figure-border, --figure-border);
  display: grid;
  margin: 0;
  margin-block: var(--minimalist-figure-margin-block, --size-16);
  max-width: max-content;

  img {
    width: 100%;
  }

  figcaption {
    background-color: var(
      --minimalist-figcaption-background-color,
      --figcaption-background-color
    );
    color: var(
      --minimalist-figcaption-foreground-color,
      --figcaption-foreground-color
    );
    padding: var(--minimalist-figcaption-spacing, --figcaption-spacing);
  }
}

figure.overlap {
  grid-template: 1fr / 1fr;

  img,
  figcaption {
    grid-area: 1 / -1;
  }

  figcaption {
    background-color: var(
      --minimalist-figcaption-overlap-background-color,
      --figcaption-overlap-background-color
    );
    color: var(
      --minimalist-figcaption-overlap-foreground-color,
      --figcaption-overlap-foreground-color
    );
    place-self: end;
  }
}
