blockquote {
  border-inline-start: var(--size-4) solid var(--color-neutral-70);
  font-style: italic;
  padding: var(--size-8);
}

blockquote p {
  margin: 0;
}

blockquote p:not(:last-child) {
  margin-block-end: var(--size-8);
}

code {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  white-space: nowrap;
  word-wrap: break-word;
}

:is(h1, h2, h3, h4, h5, h6) code {
  font-size: inherit;
}

a {
  color: var(--link-color);
  text-decoration-thickness: from-font;

  &:visited {
    color: var(--link-color-visited);
  }

  &:hover,
  &:focus {
    text-underline-offset: var(--link-text-decoration-offset);
  }

  &:active {
    text-decoration: none;
  }

  &:focus-visible {
    box-shadow: var(--link-focus-visible-box-shadow);
    outline: var(--link-focus-visible-outline);
    outline-offset: var(--link-focus-visible-outline-offset);
  }
}

ul,
ol {
  display: grid;
  gap: var(--size-8);
}
